In [1]:
import numpy as np

In [2]:
a = np.array([])

In [4]:
lat = np.arange(10)

In [9]:
value = np.random.randn(10)

In [11]:
value

array([ 1.01618335, -1.55683654, -1.14167699,  0.67795352, -0.60622556,
        0.80880724, -1.72549499,  1.21773872,  0.39272543,  1.25472887])

In [16]:
a = np.array([lat,value]).T

In [17]:
a.shape

(10, 2)

In [29]:
np.concatenate((lat,value))

array([ 0.        ,  1.        ,  2.        ,  3.        ,  4.        ,
        5.        ,  6.        ,  7.        ,  8.        ,  9.        ,
        1.01618335, -1.55683654, -1.14167699,  0.67795352, -0.60622556,
        0.80880724, -1.72549499,  1.21773872,  0.39272543,  1.25472887])

In [32]:
lat.shape[0]

10

In [33]:
b = np.zeros((lat.shape[0],2))

In [37]:
b[:,-1] = lat

In [38]:
b.shape

(10, 2)

In [64]:
c = b[:5,:]

In [66]:
c.shape

(5, 2)

In [71]:
ccc = np.vstack((b,c))

In [73]:
ccc.shape

(15, 2)

In [76]:
e = np.empty(shape=(0,5))

In [78]:
ccc

array([[0., 0.],
       [0., 1.],
       [0., 2.],
       [0., 3.],
       [0., 4.],
       [0., 5.],
       [0., 6.],
       [0., 7.],
       [0., 8.],
       [0., 9.],
       [0., 0.],
       [0., 1.],
       [0., 2.],
       [0., 3.],
       [0., 4.]])

In [82]:
np.delete(ccc,0,axis=0).shape

(14, 2)

In [85]:
ccc = np.delete(ccc,5,axis=0)

In [87]:
ccc = ccc[:10]

In [91]:
b.shape

(10, 2)

In [92]:
lat.shape

(10,)

In [93]:
import pandas as pd

In [111]:
pd.DataFrame(hhh,columns= ['aa','dd','ddddd'])

    aa   dd  ddddd
0  0.0  0.0    0.0
1  1.0  0.0    1.0
2  2.0  0.0    2.0
3  3.0  0.0    3.0
4  4.0  0.0    4.0
5  5.0  0.0    5.0
6  6.0  0.0    6.0
7  7.0  0.0    7.0
8  8.0  0.0    8.0
9  9.0  0.0    9.0

In [103]:
hhh = np.column_stack((lat,b))

In [105]:
hhh.shape

(10, 3)